<div class="directory row" draggable="true" id="<%= dom_id directory %>" data-id="<%=directory.id%>">
  <div class="col">
    <i class="fa-solid fa-folder" aria-hidden="true" style="display: inline;"></i>
    <strong class="ms-2"><%= directory.name %></strong>
  </div>
</div>
