<div class="directory row" id="<%= dom_id directory %>">
  <div class="col">
    <i class="fa-solid fa-folder" aria-hidden="true" style="display: inline;"></i>
    <strong class="ms-2"><%= directory.name %></strong>
  </div>
</div>
