<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Episkop Poll Invitation</h1>
    <p>
      Someone has invited you to a poll.
      The link should be here:
    </p>
    <p>Thanks for being awesome and have a great day!</p>
  </body>
</html>
