html {
	height: 100%;
}

body
	{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		height: 100%;
		overflow-x: hidden; /* prevent horizontal scrollbar from appearing */
	}

/* start nagivation */
.navbar-default
	{
		background: #fff;
		border: none;
		box-shadow: none;
		margin: 0 !important;
	}
.navbar-default .navbar-brand
	{
		font-weight: 500;
		font-size: 30px;
		line-height: 40px;
		padding: 12px 0px 0px 12px;
	}
.navbar-default .navbar-nav li a
	{
		font-weight: bold;
		font-size: 13px;
		line-height: 40px;
	}

.navbar-default .navbar-nav > li > a.current { 
	color: rgb(97, 97, 97);
}

.navbar-default .navbar-nav > li > a { 
	color: #8e8e8e; 
}

.navbar-default .navbar-nav > li > a:hover {
	color: rgb(97, 97, 97);
}

.navbar-brand {
	color: rgb(97, 97, 97);
}

.templatemo-nav {
	border-radius: 0;	
	width: 100%;
	z-index: 1000;
}
/* end navigation */

#directory {
	background: rgb(236, 236, 236);
}
#participated_polls {
	background: rgb(236, 236, 236);
}
#poll_questions {
	background: rgb(236, 236, 236);
}
#general_settings {
	background: rgb(236, 236, 236);
}
#api_box {
	background: rgb(236, 236, 236);
}


/* qr code */

.qr > svg  {

	margin-top: 50px;

}