html {
	height: 100%;
}

body
	{	
		background-color: #ededed;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		height: 100%;
		overflow-x: hidden; /* prevent horizontal scrollbar from appearing */
	}

.nav-tabs {
	border-color: black;
}

.dashboard-header {
	color: rgb(40, 169, 238);
	font-weight: 500;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #ededed;
    border-color: black black #ededed;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	border-color: black black #ededed;
	isolation: isolate;
}

.card-header {
	background-color: white;
}

/* start nagivation */

.navbar-default
	{
		background: #fff;
		border: none;
		box-shadow: none;
		margin: 0 !important;
	}
.navbar-default .navbar-brand
	{
		color: #29a9ee;
		font-weight: 500;
		font-size: 30px;
		line-height: 40px;
		padding: 12px 0px 0px 12px;
	}
.navbar-default .navbar-nav li a
	{
		font-weight: bold;
		font-size: 13px;
		line-height: 40px;
	}

.navbar-default .navbar-nav > li > a.current { 
	color: rgb(97, 97, 97);
}

.navbar-default .navbar-nav > li > a { 
	color: #8e8e8e; 
}

.navbar-default .navbar-nav > li > a:hover {
	color: rgb(97, 97, 97);
}

.navbar-brand {
	color: rgb(97, 97, 97);
}

.templatemo-nav {
	border-radius: 0;	
	width: 100%;
	z-index: 1000;
}
/* end navigation */

#MyPolls {
	background: white;
	border-radius: 10px 10px 20px 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 85%;
}


#participated_polls {
	background: white;
	border-radius: 10px 10px 20px 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 85%;
}

#display_polls{
	height: 90%;
}

#general_settings {
	background: rgb(236, 236, 236);
}
#api_requests {
	background: rgb(236, 236, 236);
}
#my_keys {
	background: rgb(236, 236, 236);
}
#api_keys {
	background: rgb(236, 236, 236);
}


/* qr code */

.qr > svg  {

	margin-top: 50px;

}

/* graphs */

.graph-delete:hover{
	cursor: pointer;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/*questions*/

#new_question_btn:hover{
	cursor: pointer;
	
}
#new_question_btn{
	padding-left: 10px;
	font-size: 25px;
	text-decoration: none;
	color:inherit;
}
#questionhelper {
	display: none;
	font-size:13px;
	color:white;
	background-color: rgb(33,37,41);
	font-family:Helvetica Neue;
	padding: 10px;
	border-radius: 7px;
	margin-left:10px;
	margin-bottom:15px;
}

#new_question_btn:hover #questionhelper{
	display: inline-block;
}

.delete_answer_icon:hover{
	cursor:pointer;
}

.add_ac:hover{
	cursor:pointer;
}
.add_ac{
	text-decoration: none;
	color:black;
	margin-top: 15px;
}

.new_answer_btn:hover{
	color:black;
}
.new_answer_btn{
	text-decoration: none;
	color:inherit;
	font-size:15px;
	
}
.question-del:hover{
	cursor:pointer;
	color:black;
}

#results_svg, #form_svg {
	height: 200px;
	width: 200px;
}

.invalid-access{
	margin-top: 8px;
	font-size: 30px;
}