
<div class="question row" id="<%= dom_id poll_question %>" >
    <div class="col">
        <i class="fa fa-question-circle" aria-hidden="true" style="display: inline;"></i>
        <strong class="ms-2"><%= poll_question.content %></strong>
    </div>
</div>
