<div id="<%= dom_id poll_question %>">
  <p>
    <% if poll_question.question_type == "Multiple Choice" %>
      <i class="fa fa-question-circle" aria-hidden="true" style="display: inline;"></i>
    <%end%>
    <% if poll_question.question_type == "Input" %>
      <i class="fa fa-question-circle-o" aria-hidden="true" style="display: inline;"></i>
    <%end%>
    <strong>Content:</strong>
    <%= poll_question.content %>
  </p>

  <% if poll_question.question_type == "Multiple Choice" %>
    <div id="create_answer" class="container">
      <a id="new_answer_btn" href="<%= new_poll_answer_path(:poll_id => poll_question.poll_id, :question => poll_question)%>" data-remote="true">Add an MC Answer</a>
    </div>
  <%end%>

  <% if !poll_question.poll_answers.empty? %>
    <div id="poll_answers" class="container">
          <% poll_question.poll_answers.each do |poll_answer| %>
            <%= render poll_answer %>
          <% end %>
    </div>
  <%end%>

  


</div>
