<div id="<%= dom_id poll_question %>">
  <p>
    <strong>Question Type:</strong>
    <%= poll_question.question_type %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= poll_question.content %>
  </p>

  <div id="poll_answers" class="container">
        <% poll_question.poll_answers.each do |poll_answer| %>
          <%= render poll_answer %>
        <% end %>
  </div>

</div>
