<h1>Editing poll question</h1>

<%= render "form", poll_question: @poll_question %>

<br>

<div>
  <%= link_to "Show this poll question", @poll_question %> |
  <%= link_to "Back to poll questions", poll_path(@poll) %>
</div>
