<p style="color: green"><%= notice %></p>

<h1>Poll questions</h1>

<div id="poll_questions">
  <% @poll_questions.each do |poll_question| %>
    <%= render poll_question %>
    <p>
      <%= link_to "Show this poll question", poll_question %>
    </p>
  <% end %>
</div>

<%= link_to "New poll question", new_poll_question_path %>
