<tr class="participated-poll-row" data-token="<%=poll_vote.poll.invite_token%>">
    <td>
        <p>
            <strong>Poll: </strong>
            <%= poll_vote.poll.title %>
        </p>
        <div><%=show_poll_icons(poll_vote.poll)%></div>
    </td>
</tr> 