
<div class="poll row" draggable="true" id="poll_<%= poll.invite_token %>">
  <div class="col">
    <i class="fa fa-bar-chart" aria-hidden="true" style="display: inline;"></i>
    <strong class="ms-2"><%= poll.title %></strong>
  </div>

</div>
