
<div class="poll row" id="<%= dom_id poll %>">
  <div class="col">
    <i class="fa fa-bar-chart" aria-hidden="true" style="display: inline;"></i>
    <strong class="ms-2"><%= poll.title %></strong>
  </div>

</div>
