<%= javascript_include_tag "graphs" %>
<div class="mt-5 container d-flex justify-content-center">
    <h1>UNDER CONSTRUCTION ... <br> DR. RITCHEY!</h1>
    <%= image_tag("under_construction")%>
</div>
