<div class="container">
  <p style="color: green"><%= notice %></p>
</div>

<div class="container mb-5">
  <%= render @poll %>
</div>

<div class="container">
  
  <div id="poll_questions">
    <% @poll_questions.each do |poll_question| %>
    <%= render poll_question %>
    <% end %>
  </div>
</div>

<br>
<div class="container">
  <i class="fa-solid fa-plus" id="new_question_btn"><span id="questionhelper">Add a Question</span></i>
</div>
<br>
