<div class="container">
  <p style="color: green"><%= notice %></p>
</div>
<div id="sub_nav" class="container">
    <ul class="nav mt-5 nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="javascript:;">Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:;">Poll</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:;">Results</a>
    </li>
    </ul>
</div>