$("#main_view").html("");
$("#main_view").html("<%= escape_javascript(render partial: "polls/results") %>");

<% @poll_questions.each do |poll_question| %>

    <% if poll_question.question_type != "Input" %>
        $.getJSON("http://localhost:3000/poll_questions/3/results.json", function (data) {
            $("#main_view").append(`<div id="poll_question_<%=poll_question.id%>" data-graph=` + JSON.stringify(data["data"]) + `> LOL </div>`);
        });
    <%end%>
    
<% end %>