<div id="<%= dom_id poll_answer %>" class="poll_answers_edit mt-1">
  <div class="row">
    <div class="col-10">
      <%= poll_answer.content %>
    </div>
    <div class="col"> 
    <%if poll_answer.poll_question.question_type == "Multiple Choice"%>
      <%= button_to poll_answer, :method => "delete", class: "float-end" do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %> 
    <%end%>
    </div>
  </div>

</div>
