<div id="<%= dom_id poll_answer %>" class="poll_answers_edit mt-1">
  <div class="row">
    <div class="col-10">
      <%= poll_answer.content %>
    </div>
    <div class="col"> 
    <%if poll_answer.poll_question.question_type == "Multiple Choice"%>
        <i class="fa-solid fa-xmark float-end delete_answer_icon" data-*="<%= poll_answer.id%>"></i>
    <%end%>
    </div>
  </div>

</div>
