<!-- Confirm delete directory delete in dashboard -->
<div class="modal fade" id="dashboard_confirm_directory_delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        The directory <span id="confirm_dir_name"></span> is not empty! Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
        <button data-dir="" type="button" id="dashboard-delete-dir-btn-confirm" class="btn btn-danger" data-bs-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>