<!-- start navigation -->
<nav class="navbar navbar-expand-md navbar-default navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header" style="width: 100%;">
            <a href="/homepage" class="navbar-brand me-5">Episkop</a>
            <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="navbarNav" class="collapse navbar-collapse flex-row-reverse" style="min-width: 50%;">
            <ul class="navbar-nav navbar-right">
                <%if !@homepage %>
                <li class="nav-item"><a class="nav-link" href="/homepage">Homepage</a></li>
                <%end%>
                <%if !@settings%>
                <li class="nav-item" ><a class="nav-link" href="/settings">API Settings</a></li>
                <%end%>
                <li class="nav-item" ><a class="nav-link" href="/logout">Logout</a></li>
                <li class="nav-item" ><a class="nav-link" href="#">
                        <span>
                            <%=@name%>
                        </span>
                        <img class="nav-image" src=<%=@profile_picture%>>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end navigation -->
