<!-- start navigation -->
<nav class="navbar navbar-expand-md navbar-default navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header" style="width: 100%;">
            <a href="/homepage" class="navbar-brand me-5">Episkop</a>
            <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="navbarNav" class="collapse navbar-collapse flex-row-reverse" style="min-width: 50%;">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item" ><a class="nav-link" href="/logout">Logout</a></li>
                <li class="nav-item" ><a class="nav-link" href="/settings">Settings</a></li>
                <li class="nav-item" ><a class="nav-link" href="#">
                        <span>
                            <%=@name%>
                        </span>
                        <img class="nav-image" src=<%=@profile_picture%>>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end navigation -->

<!-- start body -->

<div class="row">

    <div class="col ps-0">
        <h2 class="mt-4"> Settings </h2>
    </div>

    <div class="col ps-0">
        <h2 class="mt-4"> API Requests </h2>
    </div>

    <div class="col ps-0">
        <h2 class="mt-4"> API Keys </h2>
    </div>

</div>

<div class="h-75 row">

    <div id="general_settings" class="col">
        <p> This is where we will put site-wide settings options </p>
    </div>

    <div class="col-1"></div>

    <div id="api_requests" class="col">
        <p> This is where admins will see api key requests </p>
    </div>

    <div class="col-1"></div>

    <div id="api_keys" class="col">
        <p> This is where we list API keys for the current user </p>
        <a class="btn btn-primary" data-toggle="collapse"  role="button" aria-expanded="false" >Request API Key</a>
    </div>

</div>

<!-- end body -->
